<div class="nav navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">My Employee Tool</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/newemployee" (click)="onSelect('NEW_EMPLOYEE')">New</a></li>
                <li><a routerLink="/employeeDetails" (click)="onSelect('DISPLAY_EMPLOYEE')">Display</a></li>
                <li class="dropdown" appDropDown>
                    <a routerLink="/" class="dropdown-toggle">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Enter new Employee</a></li>
                        <li><a href="#">Fetch Employee details</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
</div>
</div>
